<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<div>
    Id: <span th:text="${person.getId()}"></span><br>
    Name: <span th:text="${person.getName()}"></span><br>
    Age: <span th:text="${person.getAge()}"></span><br>
    Email: <span th:text="${person.getEmail()}"></span>
</div>
<hr>
<br>
<a th:href="@{/people/{id}/edit (id=${person.getId()})}">Edit</a>
<br>
<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
<br>
<a th:href="@{/people}">Home</a>

</body>
</html>